@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Indie+Flower&display=swap');
body{
    /* background-color:lightblue; */
    background: linear-gradient(90deg, rgb(171, 206, 198), rgb(65, 183, 187));
    font-family:'Comfortaa', sans-serif;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.forms{
    margin-top: 2em;
    margin-bottom: 2em;
}
.floors *{
    /* display: none; */
    padding: 5px
}
.col2{
    text-align: center;
}
/* .col3{
    display: none;
} */
#calculator{
    border: 1px solid #003e50;
    padding-left: 1em;
}
#area{
    width: 7em;
}