@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Indie+Flower&display=swap');
body{
    /* background-color:lightblue; */
    background: linear-gradient(90deg, rgb(171, 206, 198), rgb(65, 183, 187));
    font-family:'Comfortaa', sans-serif;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
header {
    display: flex;
    align-items: center;
}
header a{
    display: inline-block;
    position: relative;
}
header a:hover::after{
    content: attr(data-help);
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.7em;
    text-shadow: 1px 1px 1px black;
    border: 1px dotted #003e50;
    border-radius: 0.3em;
    padding: 0.1em;
}
header h1{
    margin: auto;
    color: #003e50;
}
.forms{
    margin-top: 2em;
    margin-bottom: 2em;
}
.floors *{
    /* display: none; */
    padding: 5px;
}
.floors td{
    height: 2em;
}
#table{
    display: none;
}
.col2{
    text-align: center;
}
/* .col3{
    display: none;
} */
#basement, #fl1, #fl2, #fl3, #roof{
    display: none;
}
.buttons{
    display: flex;
}
.buttons *{
    margin-right: 20px;
}

#calculator{
    border: 1px solid #003e50;
    padding-left: 1em;
}
#area{
    width: 7em;
}