@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Indie+Flower&display=swap');
body{
    /* background-color:#c5dae6; */
    background: linear-gradient(90deg, rgb(152, 207, 195), rgb(86, 181, 184));
    font-family:'Comfortaa', sans-serif;
    margin: 1em 0 0 0;
    color:#003e50;
    font-size: 16px;
}
html * {max-height:1000000px;} 
/* #top{
    margin-top: 2em;
} */
.container{
    width: 95%;
    margin: auto;
    margin-bottom: 3em;
}
header {
    display: flex;
    align-items: center;
}
header a{
    display: inline-block;
    position: relative;
}
header a:hover::after, #gotop:hover::after{
    content: attr(data-help);
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.7em;
    text-shadow: 1px 1px 1px black;
    border: 1px dotted #003e50;
    border-radius: 0.3em;
    padding: 0.1em;
}
#gotop{
    position: relative;
}
/* #gotop:hover::after{
    content:attr(data-help);
    position: absolute;
    top: 0%;
    left: 0;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: 1px dotted #003e50;
    border-radius: 0.3em;
} */
header h1{
    margin: auto;
}
main{
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 1em;
}
/* a img{
    width: 3.5em;
    opacity: 0.8;
} */
/* h4{
    margin-left: 2em;
    margin-bottom: 0.5em;
} */
h4 {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 70%;
      /* width: 300%; */
      opacity: 0%;
    }
  
    to {
      margin-left: 0%;
      /* width: 100%; */
      opacity: 100%;
    }
  }
  .line{
    height: 2px;
    width: 70%;
    background-color: #8a92a9;
    margin: auto;
    margin-bottom: 2em;
}
.picture{
    width: 200px;
    flex-grow: 0;
    margin: 1em;
}
/* img{
    width: 200px;
    flex-grow: 0;
    margin: 1em;
} */
.infoblock{
    /* display: flex;
    align-items: flex-start; */
    border: 1px dotted #003e50;
    min-height: 132px;
}
.txtsection p{
    text-align: justify;
    padding: 0 0.5em 0 0.5em;
    line-height: 1.5;
}
.postCont p{
    margin: 0;
    padding: 0 -0.5em 0 -0.5em;
}
.infoblock:hover{
    box-shadow: 2px 2px 1px 1px gray;
}
.left{
    margin: 0 15vw 0 2px;
}
.left .picture{
    float: left;
}
.right{
    margin: 0 2px 0 15vw;
    flex-direction: row-reverse;
}
.right .picture{
    float: right;
}
a:hover{
    cursor: pointer;
}
@media (orientation: portrait){
    body{
        font-size: 26px;
    }
    .picture{
        width: 350px;
    }
    .infoblock{
        display: block;
    }
    .left{
        margin: 0 10vw 0 3px;
    }
    .right{
        margin: 0 3px 0 10vw;
    }
    .left .picture{
        float: none;
    }
    .right .picture{
        float: none;
    }
}
/* #gotop{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 2em;
    padding-bottom: 1em;
} */