@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Indie+Flower&display=swap');
body{
    background-color:#c5dae6;
    /* background: linear-gradient(90deg, rgb(152, 207, 195), rgb(86, 181, 184)); */
    font-family:'Comfortaa', sans-serif;
    margin: 0;
    color:#003e50;
}
.container{
    margin: auto;
    width: 100%;
}
.header{
    margin-bottom: 0.1em;
    padding-left: 2em;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.header h1{
    margin-bottom: 0.2em;
    line-height: 0.8em;
}
.header strong{
    font-family: 'Indie Flower', cursive;
    font-size: 85px;
    font-weight: 700;
    /* color: blue; */
    color: #68aab5;
    text-shadow: 3px 3px 5px rgb(12, 12, 12);
}
.header img{
    width: 10%;
}
header .name{
    width: fit-content;
}
.name span{
    font-size: 25px;
}
.lang{
    text-align: right;
    padding-top: 2em;
    padding-right: 2em;
    width: 30%;
}
.navi{
    position: sticky;
    top: 10px;
    margin-bottom: 0.55em;
    /* background-color: gray;
    opacity: 30%; */
    height: 1.5em;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    /* justify-items: stretch; */
    margin: auto;
    background-color: #c5dae6;
    /* background: linear-gradient(90deg, rgb(152, 207, 195), rgb(86, 181, 184)); */
    height: 1.8em;
    opacity: 0.8;
}
.menu li{
    padding-top: 2px;
    margin: auto;
    list-style-type: none;
    width: 15%;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0 2px 2px grey;
    /* background-color: rgb(152, 207, 195); */
}
.menu a:hover{
    box-shadow: 0 0 5px 5px rgb(255, 254, 254);
    transition-duration: 0.3s;
    color: brown;
    text-shadow: none;
}
.menu a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    text-shadow: 0 0 3px black;
    font-weight: bold;
    border-radius: 1em;
}
.offer{
    height: 30em;
    /* background-color: bisque; */
    background-image: url(offer1280.jpg);
    padding-right: 4em;
    padding-top: 1em;
    background-size:cover;
    color: #68aab5;
    text-shadow: 0 0 2px black;
    text-align: right;
    
}
.offer h3{
    color: white;
    text-shadow: 0 0 1px black;
    /* margin-bottom: 5em; */
}
.offer .tocalc{
    margin-left: auto;
}
.offer .offertext{
    background-color: rgba(3, 3, 3, 0.5);
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 5em;
    }
.infoblock{
    width: 95%;
    margin: auto;
}
.descrip h1{
    text-align: center;
}
.tocalc{
    background-image: radial-gradient(#68aab5, #003e50);
    padding: 0.3em;
    border-radius: 0.3em;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    display: block;
    width: fit-content;
    margin-left: auto;
}
.tocalc:hover{
    box-shadow: 0 0 4px 4px white;

}
.tasks{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 5em;
}
.descrip p{
    text-align: justify;
}
.task{
    /* margin: auto; */
    height: 10em;
    border: 1px solid #003e50;
    margin: auto;
    border-radius: 0.5em;
    /* flex-grow: 1; */
    width: 30%;
    text-align: center;
    display: flex;
    background-color: #68aab5;
    padding-left: 1em;
    padding-right: 1em;
}
.task h3{
    width: 100%;
    align-self: center;
}
.pictures{
    margin-bottom: 2em;
}
.samples h1{
    text-align: center;
}
.pictures{
    display: block;
    position: relative;
    
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.row img{
    width: 33%;
    z-index: -1;
}
.links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
}
.links1{
    top: 20%;
}
.links2{
    top: 70%;
}
.links a{
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: transparent;
    transition-duration: 00.3s;
    line-height: 80%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.links a:hover{
    color: white;
    background-color: gray;
    border-radius: 1em;
    box-shadow: 0 0 3px 3px white;
    line-height: 110%;
    opacity: 0.7;
    font-weight: 700;
}
.profile{
    /* display: flex;
    align-items: flex-start; */
    margin: 5px;
    margin-left: 2em;
}
.profile p{
    text-align: justify ;
}
.profile h1{
    text-align: center;
    margin-bottom: 2em;
}
.profile img{
    float: left;
    width: 25em;
    margin: 2em;
    box-shadow: 5px 5px 1px 2px gray;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0.5em;
}
.contacts h1{
    text-align: center;
}
.contacts .address{
    text-align: center;
}
.line{
    height: 2px;
    width: 70%;
    background-color: #8a92a9;
    margin: auto;
}
.contacts h3{
    text-align: center;
}
.social{
    width: 100%;
    display: flex;
    height: 5em;
}
.social .link{
    box-sizing: border-box;
   width: 25%;
   margin: 0;
   text-align: center;
   align-content: center;
}
.social a{
    display: inline-flex;
    width: 25%;
    justify-content: center;
}
.social img{
width: 3em;
height: 3em;
align-self: center;
border-radius: 0.6em;
}
.social img:hover{
    width: 4em;
    height: 4em;
    opacity: 0.8;
    box-shadow: 0 0 1px 5px rgb(51, 174, 231);
    }
    .qr{
        display: flex;
        width: 100%;
        justify-content: stretch;
        margin-bottom: 100px;
    }
    .qr img{
        height: 12em;
        width: 12em;
        margin: auto;
        border-radius: 0.6em;
    }
   /*  .jsdslogo{
        color: blue;
        font-family: 'Indie Flower';
        font-size: 200px;
        font-weight: 700;
        width: 300px;
        background-color: white;
        padding-top: 30px;
    }
    .jsdslogo p{
        margin: 0;
        padding-left: 20px;
        line-height: 140px;
        text-shadow: 0 0 1px black;
    } */
    .powered{
        width: 100%;
        position: fixed;
        bottom: 5px;
        font-size: 8px;
        display: flex;
        justify-content: end;
    }
    .powered img{
        margin-right: 2em;
        margin-left: 2em;
    }